<div class="database_menu_container">
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" class="database_create_form" novalidate>
        <mat-form-field class="example-full-width">
          <input matInput ngModel name="databaseName" placeholder="Название базы данных" placeholder="database_name...">
        </mat-form-field>
    
        <button mat-raised-button class="create_database" color="primary">Создать базу данных</button>
      </form>
      <br>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Название таблицы </th>
          <td mat-cell *matCellDef="let name"> {{name}} </td>
        </ng-container>
        <!-- code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Сравнение таблицы </th>
          <td mat-cell *matCellDef="let index=index"> {{index}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
</div>